span {
    color: blue;
    font-weight: bold;
}


.image {
    background-image: url('/resources/images/pattern.jpeg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

.caption {
    display: block;
    font-family: 'Playfair Display', serif;
  font-style: italic;
  position: relative;
  background-color: white;
  color: black;
}